<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Home<a class="navbar-brand"> shop</a></a>
    <form class="d-flex" role="search" action="{% url 'searchapp:SearchResult' %}" method="get">
      {% csrf_token %}
      <input class="form-control me-2" type="search" placeholder="Search"  name="q" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
{% if item_count > 0 %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'cart:cart_detail' %}"><i class="fa fa-shopping-cart"></i>({{item_count}}) </a>
</li>
{% endif %}

